body, html {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #282a36;
  color: #f8f8f2;
  font-family: Arial, sans-serif;
}

#navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #44475a;
  border-bottom: 1px solid #6272a4;
}

#navbar button {
  background-color: #6272a4;
  color: #f8f8f2;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

#navbar button:hover {
  background-color: #50fa7b;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex: 1;
  height: calc(100% - 50px);
  width: 100%;
}

#editor {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#viewer, #blank {
  width: 100%;
  height: 100%;
}

#viewer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#blank {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
